.product-box{
    border: 1px solid #038007;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    /* text-align: center; */
    background-color: #ffffff;
    height: 100%;
}

.product-box > .card-body {
    background-color: #e9eae9;
}