@page "/general"

<PageTitle>General Use Registration</PageTitle>

<div class="register-row row g-3">
    <h1 class="text-center">General Use Registration</h1>
    <p class="text-center">To download APSIM products you first need to register.</p>
    <p class="text-center">To start, please provide a valid email address below.</p>
    <div class="col-md-6 offset-md-3">
        <form class="d-flex justify-content-center mb-4">
            <input type="email" class="form-control w-75 me-2" placeholder="Enter your email" required />
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
    <p class="text-center">Once you have registered, you will receive an email with further instructions on how to download APSIM.</p>
</div>

